
<div class="profile-list">

    <img src="/img/profiles/main_{{ profile?.esc_img }}" 
     alt="obbanna-divorced-women-looking-for-sex-oxfordshire-buckinghamshire-berkshire" 
     title="Click to enlarge" 
     align="right" 
     width="250" 
     class="img img-responsive">

    <h1>Contact {{ profile?.esc_title }} from {{ region?.region_name }}</h1>

    <p><strong>Profile name:</strong> {{ profile?.esc_title }}</p>

    <p><strong>Age:</strong> {{ profile?.esc_age }}</p>

    <p><strong>Have photos?:</strong> Yes</p>

    <p><strong>Hair:</strong> {{ profile?.esc_hair }}</p>

    <p><strong>Eyes:</strong> {{ profile?.esc_eyes }}</p>

    <p><strong>Description:</strong></p>
    <p [innerHTML]="profile?.esc_bio"></p>
    
    <div class="mobile-call-to-action">
        <h1 align="center">Send {{ profile?.esc_title }} a text from your phone:</h1>
        <div [innerHtml]="sanitizedUrl"></div>
        <hr>
        <h1 align="center">or...</h1>    
    </div>

    <hr>

    <h1 align="center">To contact {{ profile?.esc_title }} use your mobile telephone and text the word: </h1>
    <h2 align='center'>{{ profile?.esc_code }}</h2>
    <h1 align='center'>to</h1>
    
    <!-- make phone number clicable on mobile devices -->
    <div [innerHTML]="sanitizedUrlNumber"></div>
    
    <!--
    <h2 align='center' class='desktop-call-to-action'>{{ profile?.esc_phone }}</h2>
    -->
    
    <p class='terms'>
        {{ terms }}
    </p>
</div>
