<div class="row profile-list">
    <div class="col-lg-12">
        <h1>Newly added profiles in {{ region?.region_name }}</h1>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor="let thumbnail of thumbnails">
        <thumbnail  [idProfile]="thumbnail.esc_id"
                    [available]="thumbnail.esc_available"
                    [image]="thumbnail.esc_img"
                    [profileName]="thumbnail.esc_title"
                    [profileAge]="thumbnail.esc_age"></thumbnail>
    </div>
</div>